{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
            <div class="card">
                <div class="card-body p-5">
                    <h1 class="text-success mb-3">¡Mensaje Enviado!</h1>
                    <p class="lead">Gracias por contactarnos. Te responderemos pronto.</p>
                    <a href="{% url 'recetas:inicio' %}" class="btn btn-primary">Volver al Inicio</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}